* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-border {
    background: url('../img/border-bg/top-border.png') 0 top repeat-x;
}

.bottom-border {
    background: url('../img/border-bg/top-border.png') 0 bottom repeat-x;
}

.left-border {
    background: url('../img/border-bg/left-border.png') left 0 repeat-y;
}

.right-border {
    background: url('../img/border-bg/left-border.png') right 0 repeat-y;
}
