.center-align {
    text-align: center;
}

.arrow-right {
    display: inline-block;
}

.dif-color {
    font-size: 11px;
}

.white-color {
    font-size: 11px;
}

.upload-hidden {
    display: none;
}

.event-input {
    width: 100%;
    font-size: 12px;
    position: absolute;
    top: 2px;
    left: -2px;
}

.event-position {
    position: relative;
}

.byte-rmit {
    position: absolute;
    top: 4px;
    right: 0;
}

.letter-spacing {
    letter-spacing: 15px;
}

.sss-event-input {
    font-size: 12px;
    display: block;
    width: 100%;
    margin: 0 auto;
    top: 0;
}

.sss-byte-rmit {
    font-size: 12px;
    position: absolute;
    top: 2px;
    right: 0;
}

.cp-img {
    text-align: center;
}