* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

ul, ol, li {
    list-style: none;
}

.title-position {
    padding: 15px 16px 15px 18px;
    position: relative;
}

#title {
    line-height: 16px;
}

.title-img {
    background: url('../img/marker.png') left center no-repeat;
    padding-left: 16px;
}

.exit-btn {
    position: absolute;
    top: 18px;
    right: 16px;
    cursor: pointer;
}

.cbox-top-line {
    background: url('../img/title/top-bar.png') 0 top repeat-x;
}

.cbox-bottom-line {
    background: url('../img/title/top-bar.png') 0 bottom repeat-x;
}

.conbox {
    padding-top: 20px;
}

section {
    padding: 0 23px 20px 23px;
}

section:last-child {
    margin-bottom: 11px;
}

#sub-title {
    font-size-adjust: 12px;
    padding-bottom: 9px;
}

.list-style-dot>li {
    font-size: 11px;
    background: url('../img/list/list-style-dot.png') 0 5px no-repeat;
    padding-left: 9px;
}

.list-style-dot>li>ul {
    padding-top: 6px;
}

.inside-list {
    background: url('../img/list/list-style-slide.png') left center no-repeat;
    padding-left: 16px;
}

.inside-list:not(:last-child) {
    padding-bottom: 6px;
}

.left-align {
    padding: 0 0 8px 69px;
}

.btn-position {
    text-align: center;
}

.btn {
    display: inline-block;
    outline: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

#orang-btn {
    background: url('../img/btn1-left.png') left 0 no-repeat;
    padding-left: 4px;
}
#cancel-btn {
    background: url('../img/cancel-btn-left.png') left 0 no-repeat;
    padding-left: 4px;
}

.btn-right {
    background: url('../img/btn1-right.png') right 0 no-repeat;
    padding-right: 4px;
}

.cancel-btn-right {
    background: url('../img/cancel-btn-right.png') right 0 no-repeat;
    padding-right: 4px;
}

.btn-mid {
    background: url('../img/btn1-mid.png') center 0 repeat-x;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 7px 7px 6px;
}

.cancel-btn-mid {
    background: url('../img/cancel-btn-mid.png') center 0 repeat-x;
    font-weight: bold;
    padding: 6px 7px 7px 6px;
    color: #888888;
}

.list-style-dot>li:nth-child(3) {
    background: none;
}

.list-style-dot>li:nth-child(4) {
    background: none;
}

.list-pad {
    padding-bottom: 12px;
}

.contents-p1 {
    font-size: 11px;
    color: #a9a9a9;
    margin-bottom: 14px;
}

.contents-p1>a {
    color: #ff5f28;
    text-decoration: none;
}

.table1 {
    width: 100%;
    border-top: 1px solid #dedfde;
    border-bottom: 1px solid #dedfde;
    border-collapse: collapse;
    padding: 11px 0;
    font-size: 11px;
    color: #646464;
}

.bp-table {
    padding-bottom: 15px;
}

.nouse-left-border {
    border-left: none;
}

caption {
    display: none;
}

.table1 tr {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.table1 th {
    font-size: 11px;
    line-height: 11px;
    border: 1px solid #efefef;
    color: #969696;
    background-color: #f6f6f6;
    padding: 11px 0;
}

.table1 td {
    padding: 8px 0;
    padding-left: 15px;
}

.btn-label-left {
    padding: 4px 0;
    cursor: pointer;
    background: url('../img/btn-label.png') left 0 no-repeat;
}

.btn-label-right {
    padding: 4px;
    background: url('../img/right-label.png') right 0 no-repeat;
}

.btn-label-mid {
    padding: 4px 10px;
    background: url('../img/mid-label.png') center 0 repeat-x;
}

.upload-name {
    width: 80%;
}

.exel-upload>li {
    font-size: 12px;
    line-height: 21px;
    background: url('../img/list/list-style-dot.png') left 8px no-repeat;
}

.exel-upload>li:nth-child(2) {
    background: none;
}

.thtd-fs {
    font-size: 12px;
}

.th-color {
    color: #969696;
    padding-bottom: 23px;
}

.dif-padding-td {
    padding: 3px 0 3px 15px;
    white-space: nowrap;
}

.padding-diff {
    padding: 0 0 23px 15px;
}