* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

ul, ol, li {
    list-style: none;
}

.title-position {
    padding: 15px 16px 15px 18px;
    position: relative;
}

#title {
    line-height: 16px;
}

.title-img {
    background: url('../img/marker.png') left center no-repeat;
    padding-left: 16px;
}

.exit-btn {
    position: absolute;
    top: 18px;
    right: 16px;
    cursor: pointer;
}

.cbox-top-line {
    background: url('../img/title/top-bar.png') 0 top repeat-x;
}

.cbox-bottom-line {
    background: url('../img/title/top-bar.png') 0 bottom repeat-x;
}

.conbox {
    padding-top: 20px;
}

section {
    padding: 0 23px 20px 23px;
}

section:last-child {
    margin-bottom: 11px;
}

#sub-title {
    font-size-adjust: 12px;
    padding-bottom: 9px;
}

.list-style-dot>li {
    font-size: 11px;
    background: url('../img/list/list-style-dot.png') 0 5px no-repeat;
    padding-left: 9px;
}

.list-style-dot>li>ul {
    padding-top: 6px;
}

.inside-list {
    background: url('../img/list/list-style-slide.png') left center no-repeat;
    padding-left: 16px;
}

.inside-list:not(:last-child) {
    padding-bottom: 6px;
}

.left-align {
    padding: 0 0 8px 69px;
}

.btn-position {
    text-align: center;
}

.btn {
    display: inline-block;
    outline: none;
    border: 0;
    font-size: 12px;
    cursor: pointer;
}

#orang-btn {
    background: url('../img/btn1-left.png') left 0 no-repeat;
    padding-left: 4px;
}

.btn-right {
    background: url('../img/btn1-right.png') right 0 no-repeat;
    padding-right: 4px;
}

.btn-mid {
    background: url('../img/btn1-mid.png') center 0 repeat-x;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 7px 7px 6px;
}